@model BoVoyageJJAN.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantUnderTwelveNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantUnderTwelveNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
