@model IEnumerable<BoVoyageJJAN.Models.Agency>

@{
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}
        @Html.ActionLink("Nouvelle Agence", "Create")
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        
    
    @foreach (var item in Model) {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
                </td>
            </tr>
        </tbody>
    }
    
    </table>
