@model BoVoyageJJAN.Models.Commercial

@{
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}


    <div>
        <h4>Confirmer la suppression?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lastname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Firstname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mail)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>
