@{
    Layout = null;
    var commercial = Session["COMMERCIAL_BO"] as BoVoyageJJAN.Models.Commercial;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackOffice</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/roomy.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Trips")">Voyages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Reservations")">Réservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Customers")">Clients</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Commercials")">Commercials</a>
                    </li>
                </ul>
                @if(commercial != null)
                {
                <span class="navbar-text">
                    Bonjour @commercial.Firstname @commercial.Lastname <a href="@Url.Action("Logout", "AuthenticationCommercial")" class="btn btn-warning"><i class="fa fa-eject"></i></a>
                </span>
                }
                

            </div>
        </nav>

        @RenderBody()

        <footer class="bg-secondary">
            &copy; BoVoyage
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>