@model BoVoyageJJAN.Areas.BackOffice.Models.CustomerSearchViewModel

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Rechercher un voyage</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row form-group justify-content-around">
                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group justify-content-around">
                            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group justify-content-around">
                            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group justify-content-around">
                            @Html.LabelFor(model => model.BirthDateMin, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.BirthDateMin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BirthDateMin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group justify-content-around">
                            @Html.LabelFor(model => model.BirthDateMax, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.BirthDateMax, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BirthDateMax, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-md-12">
                                <input type="submit" value="Rechercher" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
}
    <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#searchModal">Rechercher un client</button>

@if (Model.Customers != null)
{
    <h2>Clients</h2>
    <p>
        @Html.ActionLink("Télécharger la liste des clients au format CSV", "DownloadCsv")
    </p>
    <p>
        @Html.ActionLink("Ajouter un client", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                Civilité
            </th>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Email
            </th>
            <th>
                Adresse
            </th>
            <th>
                Téléphone
            </th>
            <th>
                Date de naissance
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Civility.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>


}
