
@{
    Layout = null;
    var user = Session["USER"] as BoVoyageJJAN.Models.Customer;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container">
        <img class="img-responsive" src="~/Img/Mont_Fuji1.jpg" height="300" width="1111"/>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-">
            <a class="navbar-brand" href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/" style="color:deepskyblue"><i class="fa fa-home text-white"></i> Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Travels")" style="color:deepskyblue"> <i class="fa fa-globe text-white"></i> Voyages</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Travels")" style="color:deepskyblue"><i class="fa fa-check-square text-white"></i> Réserver</a>

                    </li>


                </ul>
                <a class="nav-link" href="@Url.Action("Create", "Accounts")" style="color:deepskyblue"><i class="fa fa-pencil text-white"></i>Inscription</a>
                <a class="nav-link" href="@Url.Action("Login","AuthenticationUser")" style="color:deepskyblue"><i class="fa fa-user text-white"></i><strong>Mon compte</strong></a>


                @if (user != null)
                {
                    <span class="navbar-text">
                        Bonjour @user.Firstname &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Logout", "AuthenticationUser")" class="btn btn-warning btn-sm"><i class="fa fa-eject"></i></a>
                    </span>
                }

            </div>
        </nav>



        @RenderBody()

        <footer class="bg-secondary">
            <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="~/Img/BoVoyage1.jpg" height="100" width="100" />
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About","Home")" style="color:deepskyblue"><i class="fa fa-users text-white"></i> A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "UserDemands")" style="color:deepskyblue"><i class="fa fa-headphones text-white"></i> Contactez-nous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { area="BackOffice" })" style="color:deepskyblue">BO</a>
                    </li>
                </ul>

            </div>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>
