@model BoVoyageJJAN.Models.Reservation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="@Url.Action("AddParticipant")" method="POST">
    @Html.AntiForgeryToken()
    @Html.Hidden("ReservationID", Model.ID)

    @Html.Partial("_AddParticipant", new BoVoyageJJAN.Models.Participant())

    <button type="submit" class="btn btn-warning"> Ajouter </button>
</form>

<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Téléphone
        </th>
        
        <th></th>
    </tr>

</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
